.containerBillResult {
    border-radius: .9375rem;
    background: var(--Very-dark-cyan);
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5rem 0 2.5rem;
}

.tipAmount,
.totalPerPerson {
    display: flex;
    align-items: center;
    gap: 5.75rem;
}

.tipAmount {
    margin-bottom: 1.5625rem;
}



.description {
    display: flex;
    flex-direction: column;
    min-width: 6.125rem;
    flex: 1;
}

.description p {
    display: flex;
    color: var(--White);
    font-size: 1rem;
    line-height: 1.5rem;
}

.description span {
    color: var(--White);
    font-size: .8125rem;
    line-height: 1.1875rem;
    color: #7F9D9F;
    display: block;
}

.billPerPerson p,
.billTotalPerPerson p {
    color: #26C2AE;
    font-size: 3rem;
    line-height: 4.4375rem;
}

.btnReset {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

button {
    background: #26C2AE;
    color: var(--Very-dark-cyan);
    border: none;
    padding: .375rem 2.25rem;
    cursor: pointer;
    font-size: 1.25rem;
    text-transform: uppercase;
    max-width: 20.8125rem;
    transition: .5s;
    border-radius: 5px;
    flex: 1;
}

button:hover {
    background: #9FE8DF;
}

@media (max-width: 48rem) {
    .containerBillResult {
        padding: 2.3125rem 1.375rem 0 1.375rem;
    }

    .tipAmount,
    .totalPerPerson {
        gap: 5.4375rem;
    }

    .billPerPerson p,
    .billTotalPerPerson p {
        font-size: 2rem;
    }

    .tipAmount {
        margin-bottom: 1.25rem;
    }

    .btnReset {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
}