.containerBill {
    display: flex;
    gap: 48px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 23.6875rem;
}



.label,
.containerTips {
    color: hsla(186, 14%, 43%, 1);
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: .375rem;
}

.label svg {
    position: absolute;
    top: 53%;
    left: 1.1875rem;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.label .input {
    background: #F3F9FA;
    border-radius: 5px;
    border: none;
    color: var(--Very-dark-cyan);
    font-size: 24px;
    padding: 12px 17px 12px 0;
    text-align: right;
    caret-color: #26C2AE;
}

.label .input:focus {
    background: #F3F9FA;
    outline: 2px solid #26C2AE;
    border-radius: 5px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.list {
    flex: 1;
    display: flex;
}

.inputBill {
    padding: 6px 12px;
    font-size: 24px;

    width: 100%;
    background: #F3F9FA;
    border-radius: 5px;
    text-align: center;
    color: var(--Very-dark-cyan);
    border: none;
    caret-color: #26C2AE;
}

.inputBill:focus {
    background: #F3F9FA;
    outline: 2px solid #26C2AE;
}

@media (max-width:768px) {
    .containerBill {
        flex-direction: column;
        align-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* gap: 14px; */
    }

    .list {
        display: grid;

    }
}