.btnTip {
    border: none;
    color: var(--White);
    background: var(--Very-dark-cyan);
    padding: .375rem 2.25rem;
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
    transition: .5s;
    border-radius: 5px;
    flex: 1;
}

.btnTip:hover {
    border-radius: 5px;
    background: #9FE8DF;
    color: var(--Very-dark-cyan);
}



@media (max-width: 48rem) {
    .btnTip:hover {
        background: #26C2AE;
    }
}