.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: var(--White);
    border-radius: 1.5625rem;
    box-shadow: 0 32 43 0 hsla(185, 38%, 50%, 0.2);
    padding: 32px;
}